@import "_variables";
@import "mixins";
@import "buttons";

h2 {
  color: $bg;
}

.box {
  margin-top: 20px;

  &:hover {
    background-color: green;
  }

  h2 {
    color: blue;

    &:hover {
      color: red;
    }
  }

  button {
    color: red;
  }
}

a {
  @extend %button;
  text-decoration: none;
}

button {
  @extend %button;
  border: none;
}